.form{
    margin-left: 25px;
}
.p1{
    font-size: 15px;
    margin-left: 25px;
}
.IMG{
    margin-left: 25px;
    width: 250px;
    height: 200px;
}
.IMV{
    margin-left: 25px;
    width: 250px;
    height: 200px;
}
.VD{
    width: 300;
    
}
table{
    
    width: 500px;
    margin-left: 15px;
}
th, caption{
    text-align: left;
    color: forestgreen;
    
}

table, th, td {
border: 1px solid #000;
/*border-collapse: collapse;*/
}
/*td{
    color: fuchsia;
}*/
th, td {
   padding: 10px;

}

tr:nth-child(even){
    background-color: #fff;
}

tr:nth-child(odd){
    background-color: #ddd;
}